@using MvcCvProject.Models.Entity
@model List<TblCertfications>

<div class="resume-section-content">
    <h2 class="mb-5">Sertifikalar</h2>
    <ul class="fa-ul mb-0">
        @foreach (var value in Model)
        {
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                @value.description
            </li>
        }

    </ul>
</div>
