

<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">Bana Ulaşın</h2>

        <label>Ad Soyad</label>
        <input type="text" class="form-control" name="name" />

        <label>Mail</label>
        <input type="email" class="form-control" name="mail" />

        <label>Konu</label>
        <input type="text" class="form-control" name="about"/>

        <label>Mesaj</label>
        <textarea class="form-control" name="message" rows="5" placeholder="Mesajınızı buraya yazın..."></textarea>

        <br />

        <button class="btn btn-info">Gönder</button>
    </form>
</div>
