@using MvcCvProject.Models.Entity
@model List<TblProjects>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Projects List</h2>
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Tools</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.title</td>
            <td>@item.description</td>
            <td>@item.tools</td>
            <td><a href="/Project/UpdateProject/@item.id" class="btn btn-warning">Update</a></td>
            <td><a href="/Project/DeleteProject/@item.id" class="btn btn-danger">Delete</a></td>
        </tr>

    }

</table>

<a href="/Project/AddProject" class="btn btn-primary">Add new project</a>


