
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Add New Skill</h2>
<br />

<form method="post">

    <label>Skill</label>
    <input type="text" name="skill" class="form-control" />

    <br />

    <label>Rate</label>
    <input type="number" name="rate" class="form-control" />

    <br />

    <button class="btn btn-info" style="padding: 8px 16px">Save</button>
</form>

