@model MvcCvProject.Models.Entity.TblSkills
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Update a Skill</h2>
<br />

<form method="post">

    <div class="form-group">
        <label>ID</label>
        @Html.TextBoxFor(x => x.id, new { @class = "form-control", @readonly = "readonly" })
    </div>

    <br />

    <div class="form-group">
        <label>Skill</label>
        @Html.TextBoxFor(x => x.skill, new { @class = "form-control" })
    </div>

    <br />

    <div class="form-group">
        <label>Rate</label>
        @Html.TextBoxFor(x => x.rate, new { @class = "form-control" })
    </div>

    <br />

    <button class="btn btn-info" style="padding: 8px 16px">Save</button>
</form>

