
@{
    ViewBag.Title = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Add Experience</h2>
<br />

<form method="post">

    <label>Title</label>
    <input type="text" name="title" class="form-control" />

    <br />

    <label>Subtitle</label>
    <input type="text" name="subtitle" class="form-control" />

    <br />

    <label>Description</label>
    <textarea type="text" name="description" class="form-control"></textarea>

    <br />

    <label>Date</label>
    <input type="text" name="date" class="form-control" />

    <br />

    <button class="btn btn-info" style="padding: 8px 16px">Save</button>
</form>

